# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Visual Studio Code
.vscode/*
*.code-workspace

# Archivos de node.js
node_modules

#Archivo de variables de entorno
.env.dist

#Archivos vercel
.vercel

#Archivos netlify
.netlify

#Logs
logs.log